* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a:link, 
a:visited {
    color: aliceblue;
}

/* ---------------------------HEADER STYLES--------------------------- */
header {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
}

.header__logo img {
    height: 60px;
}

.header__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 24px;
    min-height: 80px;
    background-color: rgb(66, 66, 66);
}

.header__nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__nav-list a {
    color: aliceblue;
}

.header__nav-list a:hover {
    color: #B7987C;
}

.current {
    text-decoration: underline;
}

/* ---------------------------MAIN STYLES--------------------------- */
main {
    margin-top: 90px;
    padding: 8px;
}

.main__section {
    scroll-margin-top: 90px;
    padding: 8px 16px;
}

.main__section h1 {
    margin-bottom: 20px;
}

.main__section p {
    text-align: justify;
    margin-bottom: 16px;
}

.main__image {
    height: 250px;
}

.main__image--left {
    float: left;
    margin: 0 24px 8px 0;
}

.main__image--right {
    float: right;
    margin: 0 0 8px 24px;
}

 /* -----Styles for contact page----- */
.layout--contact {
    display: flex;
    flex-wrap: wrap;
    height: 80vh;
    gap: 8px;
}

.layout__box--contact {
    flex: 1 0 45%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkcyan;
}

.layout__box--3-contact {
    flex-basis: 95%;
}

 /* -----Styles for service page----- */
.layout-services {
    display: flex;
    width: 100%;
    height: 80vh;
    gap: 8px;
}

.layout-services__box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkcyan;
}

.services__box-aside {
    padding-top: 16px;
    flex-direction: column;
    justify-content: start;
    flex: 1;
}

.aside__nav-list {
    flex-direction: column;
    display: flex;
    gap: 8px;
}

.services__box-section {
    display: flex;
    flex: 6;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px;
    justify-content: flex-start;
}

.section__box {
    width: calc(25% - 16px);
    height: 150px;
    background-color: lightsteelblue;
    border: 1px solid #8aa0b6;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---------------------------FOOTER STYLES--------------------------- */
.footer__nav-item a:link,
.footer__nav-item a:visited {
    color:cornflowerblue;
}

footer {
    background-color: rgb(66, 66, 66);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
}

.footer__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    height: 150;
    width: 100vw;
}

.footer__nav-list {
    display: flex;
    gap: 16px;
}

.footer__divider {
    width: 80%;
    height: 1px;
    border-bottom: solid 2px #333;
}

.footer__nav p {
    color: white;
}

