* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

a:link, 
a:visited {
    color: aliceblue;
}

/* ---------------------------HEADER STYLES--------------------------- */
header {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
}

.header__logo img {
    height: 60px;
}

.header__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 24px;
    min-height: 80px;
    background-color: rgb(66, 66, 66);
}

.header__nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__nav-list a {
    color: aliceblue;
}

.header__nav-list a:hover {
    color: #B7987C;
}

.current {
    text-decoration: underline;
}

/* ---------------------------MAIN STYLES--------------------------- */
main {
    padding-top: 90px;
    height: 90vh;
}
section {
    scroll-margin-top: 90px;
}


/* ---------------------------FOOTER STYLES--------------------------- */
.footer__nav-item a:link,
.footer__nav-item a:visited {
    color:cornflowerblue;
}

footer {
    background-color: rgb(66, 66, 66);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    height: 150;
    width: 100vw;
}

.footer__nav-list {
    display: flex;
    gap: 16px;
}

.footer__divider {
    width: 80%;
    height: 1px;
    border-bottom: solid 2px #333;
}

.footer__nav p {
    color: white;
}

